<mat-card>
    <b>
        <span>watch Jokes</span>
    </b>
</mat-card>
<hr>
<mat-card>
    <mat-form-field appearence="fill">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input> 
    </mat-form-field>
</mat-card>
<hr>
<div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> id</th>
            <td mat-cell *matCellDef="let joke"> {{joke.id}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> category</th>
            <td mat-cell *matCellDef="let joke"> {{joke.category}} </td>
        </ng-container>

        <ng-container matColumnDef="setup">
            <th mat-header-cell *matHeaderCellDef> setup</th>
            <td mat-cell *matCellDef="let joke"> {{joke.setup| slice:0:25}}... </td>
        </ng-container>

        <ng-container matColumnDef="delivery">
            <th mat-header-cell *matHeaderCellDef> delivery</th>
            <td mat-cell *matCellDef="let joke"> {{joke.delivery | slice:0:25}} </td>
        </ng-container>

        <ng-container matColumnDef="joke">
            <th mat-header-cell *matHeaderCellDef> joke</th>
            <td mat-cell *matCellDef="let joke" ng-init="limit=20"> {{joke.joke | slice:0:25 }}... </td>
        </ng-container>

        <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let joke" class="action-link">
        <button mat-icon-button color="primary" matTooltip="view" (click)="handleViewAction(joke)">
            <mat-icon>open_in_new</mat-icon>
        </button> 
        </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

</div>
