<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">{{dialogData.action}} Project</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="projectForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Project Name</mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="projectForm.controls.name.touched && projectForm.controls.name.invalid">
                    <span *ngIf="projectForm.controls.name.errors.required">this field is mandatory</span>
                </mat-error>
            </mat-form-field>
            </div>
        </div>

        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Address</mat-label>
                <input matInput formControlName="address" required>
                <mat-error *ngIf="projectForm.controls.address.touched && projectForm.controls.address.invalid">
                    <span *ngIf="projectForm.controls.address.errors.required">this field is mandatory</span>
                </mat-error>
            </mat-form-field>
            </div>
        </div>

        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>end Date</mat-label>
                <input matInput formControlName="endDate" required [matDatepicker]="picker" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="projectForm.controls.endDate.touched && projectForm.controls.endDate.invalid">
                    <span *ngIf="projectForm.controls.endDate.errors.required">this field is mandatory</span>
                </mat-error>
            </mat-form-field>
            </div>
        </div>

        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>status</mat-label>
                <!-- <input matInput formControlName="status" required>
                <mat-error *ngIf="projectForm.controls.status.touched && projectForm.controls.status.invalid">
                    <span *ngIf="projectForm.controls.status.errors.required">this field is mandatory</span>
                </mat-error> -->
                <mat-select formControlName="status">
                    <mat-option *ngFor="let status of statuss" [value]="status">
                      {{ status }}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            </div>
        </div>

        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Image</mat-label>
                <input matInput formControlName="image" required>
                <mat-error *ngIf="projectForm.controls.image.touched && projectForm.controls.image.invalid">
                    <span *ngIf="projectForm.controls.image.errors.required">this field is mandatory</span>
                </mat-error>
            </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
     [disabled]="!(projectForm.valid&& projectForm.dirty)"> {{action}} </button>
     <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>