<mat-toolbar class="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="title-center">{{ dialogData.action }}</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="commentForm">
    <div fxFlex fxLayout="column">
      <div fxLayout="row wrap">
        <mat-form-field class="fill" fxFlex>
          <mat-label>description</mat-label>
          <input matInput formControlName="description" required />
          <mat-error
            *ngIf="
              commentForm.controls.description.touched &&
              commentForm.controls.description.invalid
            "
          >
            <span *ngIf="commentForm.controls.description.errors.required"
              >This field is mandatory</span
            >
            <span *ngIf="commentForm.controls.description.errors.pattern"
              >This field is invalid</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>time created</mat-label>
          <input
            matInput
            formControlName="timeCreated"
            required
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="
              commentForm.controls.timeCreated.touched &&
              commentForm.controls.timeCreated.invalid
            "
          >
            <span *ngIf="commentForm.controls.timeCreated.errors.required"
              >this field is mandatory</span
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Project</mat-label>
          <mat-select formControlName="projectId">
            <mat-option *ngFor="let project of projects" [value]="project.id">
              {{ project.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="handleSubmit()"
    
  >
    {{ action }}
  </button>
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
