<body>
    <mat-card>
        <b><span>Dashboard</span></b>
    </mat-card>
    <br>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Total Projects: </h2>
                    <h1 class="title"> {{data?.project}} </h1>
                    <p> <button class="button" [routerLink]="['/projects/project']">View Projects</button> </p>
                </div>
        
            </div>
        </div>
    </div>
   <div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <h2 class="title">Total comments: </h2>
                <h1 class="title"> {{data?.comment}} </h1>
                <p> <button class="button" [routerLink]="['/projects/comment']">View comments</button> </p>
            </div>
    
        </div>
    </div>
   </div>

    
</body>